{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

<div>This is written in twig</div>

    {{ react_component('Dummy', {'text' : 'This is written in react'}) }}

{% endblock %}
