<div class="two-thirds">
    <div class="two-thirds--image-container">
        <img src="{{ asset('/images/Harvest_Hells_tour.jpg') }}" alt="">
    </div>
    <div class="two-thirds--text-container">
        <div class="wrapper">
            <p class="sub-title">In other news</p>
            <p class="title">Harvest hells lager</p>
            <p class="text">Swap a can for a can(of beer!)</p>
            <div class="text-center">
                <a class="button button-secondary" href="#">Read On</a>
            </div>
        </div>
    </div>
</div>