@font-face {
    font-family: 'Neusa';
    src: url('/fonts/Neusa-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Neusa';
    src: url('/fonts/Neusa-SemiBold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Neusa';
    src: url('/fonts/Neusa-Bold.otf') format('opentype');
    font-weight: 700;
}


