<header class="main-header">
    <div class="logo-container">
        <img class="logo-large" src="{{ asset('images/logo-full.svg') }}" alt="logo">
        <img class="logo-small" src="{{ asset('images/logo-small.svg') }}" alt="logo">
    </div>
    <nav class="navigation--container" data-main-navigation>
        <ul class="navigation">
            <li class="navigation-list-item"><a class="navigation-link" href="#">Beers</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">Brewery</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">Find Beer</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">News &amp; Events</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">Beer Team</a></li>
        </ul>
        <ul class="mobile-only-navigation">
            <li class="navigation-list-item"><a class="navigation-link" href="#">Jobs</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">Contact Us</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">Sell Our Beer</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">FAQ</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">Privacy Policy</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">Cookie Policy</a></li>
            <li class="navigation-list-item"><a class="navigation-link" href="#">Cookie Settings</a></li>
        </ul>
    </nav>
    <div class="mobile-menu--container" data-mobile-menu>
        <img class="menu-icon-open" src="{{ asset('images/menu-bottles.svg') }}" alt="menu icon">
        <img class="menu-icon-close" src="{{ asset('images/menu-x.svg') }}" alt="menu icon close">
{#        <div class="mobile-menu--wrapper">#}
{#            <div class="menu-line"></div>#}
{#            <div class="menu-line"></div>#}
{#            <div class="menu-line"></div>#}
{#        </div>#}
    </div>
</header>